 <input type="text" appNumbersOnly>
 <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        
        <li><a routerLink="/checkout">checkout</a></li>

    </ul>
 </nav>
 <app-currency></app-currency>
 <app-login-buttons></app-login-buttons>
 <!-- <app-currency (selected)="setCurrency($event)"></app-currency> -->
 <router-outlet></router-outlet>
<!-- <app-product-list [currentCurrency]="selectedCode"></app-product-list> 
<app-checkout></app-checkout> -->
